<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.maanvith.app">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application xmlns:tools="http://schemas.android.com/tools"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".PublishedRides"
            android:exported="false" />
        <activity
            android:name=".ForgotActivity"
            android:exported="false" />
        <activity
            android:name=".ChangePassword"
            android:exported="false" />
        <activity
            android:name=".UpdateProfileDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".SaveChangesDialoge"
            android:exported="false" />
        <activity
            android:name=".InboxChatActivity"
            android:exported="false" />
        <activity
            android:name=".YourRidesDialogue"
            android:exported="false" />
        <activity
            android:name=".PriceModelActivity"
            android:exported="false" />
        <activity
            android:name=".ExpandRidesActivity"
            android:exported="false" />
        <activity
            android:name=".SearchResultsActivity"
            android:exported="false" />
        <activity
            android:name=".RidePublished"
            android:exported="false" />
        <activity
            android:name=".PersonsDescriptionActivity"
            android:exported="false" />
        <activity
            android:name=".TimePersonsActivity"
            android:exported="false" />
        <activity
            android:name=".BetweenRouteActivity"
            android:exported="false" />
        <activity
            android:name=".AddPlacesActivity"
            android:exported="false" />
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCMKQEoOJokPHZWS884lUOJ4TG7h2vq6a8" />

        <activity
            android:name=".MapsActivity"
            android:exported="false"
            android:label="@string/title_activity_maps" />

        <uses-library android:name="com.google.android.maps" />

        <activity
            android:name=".DropActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".PickupActivity"
            android:exported="false" />
        <activity
            android:name=".WelcomePage"
            android:exported="false" />
        <activity
            android:name=".LoginMail"
            android:exported="false" />
        <activity
            android:name=".HomeScreen"
            android:exported="false" />
        <activity
            android:name=".DetailsActivity"
            android:exported="false" />
        <activity
            android:name=".SignupAccount"
            android:exported="false" />
        <activity
            android:name=".SignupMobileOTP"
            android:exported="false" />
        <activity
            android:name=".SignupMobile"
            android:exported="false" />
        <activity
            android:name=".LoginPage"
            android:exported="false" />
        <activity
            android:name=".SignupPage"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:theme="@style/Theme.Design.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>